.form-container {
    margin: 0 auto;
    max-width: 400px;
    padding: 1rem;
    border: 1px solid #dddd;
    box-shadow: 2px 2px 10px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

label {
    font-weight: bold;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;

}

button:hover {
    background-color: #0056b3;
  }

.error-message {
color: red;
margin-top: 1rem;
font-weight: bold;
}